# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
.env

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Ignore all measurements by default
measurements/

# --- Allow Measurely seed measurement ---
!measurements/
!measurements/Sweep0/
!measurements/Sweep0/**
!measurements/sweephistory.json
!measurements/debug.txt

*.wav
*.png
*.csv

# Ignore generated JSON everywhere EXCEPT measurements seed
*.json
!measurements/**/*.json

debug.txt
debug_stats.json
meta.json
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
#docs/
# Allow PNGs inside docs folder
!docs/*.png
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
install.log
