[Unit]
Description=Measurely Flask server
Wants=network-online.target
After=network-online.target sound.target

[Service]
Type=simple
User=matt
Group=matt
WorkingDirectory=%h/measurely
ExecStart=%h/measurely/venv/bin/python %h/measurely/measurelyapp/server.py
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=2
# (optional) give it a tiny bit more open files if needed
# LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
