[Unit]
Description=Measurely Flask server
Wants=network-online.target
After=network-online.target sound.target

[Service]
Type=simple
User=matt
Group=matt
WorkingDirectory=/home/matt/measurely
ExecStart=/home/matt/measurely/venv/bin/python /home/matt/measurely/measurelyapp/server.py
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=2
# (optional) give it a tiny bit more open files if needed
# LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
